# Server Configuration
NODE_ENV=test
PORT=3001

# Database Connection (Isolated Testing)
# MUST BE A DIFFERENT DATABASE THAN DEVELOPMENT
# Replace <USER>, <PASSWORD>, and <TEST_DB_NAME> with your local Postgres credentials
DATABASE_URL="postgresql://<USER>:<PASSWORD>@localhost:5432/<TEST_DB_NAME>?schema=public"

# CORS Configuration (Next.js Frontend)
CLIENT_URL="http://localhost:3000"